@use 'base/variables' as v;
@use 'base/mixins' as m;
.barra {
    background-color: v.$blanco;
    padding: 1rem 2rem;
    box-shadow: 1px 12px 9px -13px rgba($color: #000000, $alpha: 0.2);
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p {
        margin: 0;
        font-size: 1.6rem;
        span {
            font-weight: 700;
            color: v.$rosa;
        }
    }
    .cerrar-sesion {
        @include m.boton(darken(v.$rosa, 20%), v.$blanco);
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: .5rem;
        font-weight: 400;
    }
}