@use 'base/variables' as v;
@use 'base/mixins' as m;
.dashboard {
    background-color: v.$grisClaro;
    @include m.tablet {
        display: flex;
        height: 100vh; //viewport height
    }
    .principal {
        flex: 1;
        overflow-y: scroll;
    }
    .contenido {
        padding: 2rem;
        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }
    }
    .formulario {
        input:not([type="submit"]) {
            background-color: v.$blanco;
        }
        input[type="submit"] {
            @include m.boton(v.$rosa, v.$blanco);
            padding: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.4rem;
        }
    }
    .enlace {
        color: v.$rosa;
        font-size: 1.8rem;
        font-weight: 700;
        transition-property: color;
        transition-duration: 300ms;
        &:hover {
            color: darken($color: v.$rosa, $amount: 20%);
        }
    }
}